body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #FCF7C8;
  color: #333;
}

header, section, footer {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;

}
